@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Quicksand:wght@300..700&display=swap');

/* Color Variables */

:root {
    /* Primary Colors */
    --primaryBlue: #226CE0;
    --primaryPurple: #9747FF;
    --black: #050505;
    --white: #fff;
    --cardBackground: #1A1A1A;
    --input: #BFBFBF;

    /* Hover Colors */
    --primaryPurpleHovered: #7D1AFF;
    --primaryBlueHovered: #164A9D;
    --blackHovered: #333333;
    --whiteHovered: #BFBFBF;
}

/* Base Page Styling */
body, html {
    margin: 0px;
    background-color: var(--black);
    color: var(--white);
    font-family: "Quicksand", sans-serif;
    scroll-behavior: auto !important;
}

/* Primary Text Styling */

h1 {
    font-size: 56px;
    font-family: "Mansalva", sans-serif;
    color: var(--white);
}

h2 {
    font-size: 40px;
    font-family: "Quicksand", sans-serif;    
    color: var(--white);

}

h3 {
    font-size: 24px;
    font-family: "Quicksand", sans-serif;
    color: var(--white);

}

h4 {
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    color: var(--white);
    font-weight: 700;
}

h5 {
    font-size: 20px;
    font-family: "Mansalva", sans-serif;
    color: var(--white);

}

p {
    font-size: 16px;    
    font-family: "Quicksand", sans-serif;
    color: var(--white);
    font-weight: 200;
}

@media(max-width: 768px) {
    h1 {
        font-size: 48px;
        font-family: "Mansalva", sans-serif;
        color: var(--white);
    }

    h2 {
        font-size: 32px;
        font-family: "Quicksand", sans-serif;
        color: var(--white);

    }

    h3 {
        font-size: 20px;
        font-family: "Quicksand", sans-serif;
        color: var(--white);

    }

    h4 {
        font-size: 16px;
        font-family: "Quicksand", sans-serif;
        color: var(--white);
        font-weight: 700;
    }

    h5 {
        font-size: 16px;
        font-family: "Mansalva", sans-serif;
        color: var(--white);

    }

    p {
        font-size: 14px;
        font-family: "Quicksand", sans-serif;
        color: var(--white);
        font-weight: 200;
    }
}

/*------------------------------------------*/

/* Secondary Text Styling */

.small {
    font-size: 14px;
}

.highlight {
    color: var(--primaryBlue);
}

/*------------------------------------------*/

/* Button Styling */
.btn {
    border-radius: 4px;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    cursor: pointer;
}

.primary-btn {
    color: var(--white);
    background-color: var(--primaryPurple);
    border: 1px solid var(--primaryPurple);
}

.primary-btn:hover {
    color: var(--white);
    background-color: var(--primaryPurpleHovered);
    border: 1px solid var(--primaryPurpleHovered);
}

.secondary-btn {
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
}

.secondary-btn:hover {
    border-color: var(--whiteHovered);
    color: var(--whiteHovered);
}

.tertiary-btn {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--black);
}

.tertiary-btn:hover {
    background-color: var(--blackHovered);
}

/*------------------------------------------*/

/* Layout Styling */
.hero-container {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.hero-top-right {
    position: absolute;
    top: 64px;
    right: 64px;
    z-index: -1;
}

.vertical-spacing{
    height: 128px;
}


@media (max-width: 1200px) {
    .hero-top-right {
        top: 32px;
        right: 32px;
    }
}

@media (max-width: 768px) {
    .hero-top-right {
        top: -16px;
        right: -64px;
    }
}

/*------------------------------------------*/

/* Input Styling */
.input-txt {
    border: 1px solid var(--input);
    border-radius: 4px;
    color: var(--black);
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    padding: 8px;
}

.input-txt::placeholder {
    color: var(--input);
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
}

/* Component Styling */
.card-large {
    background-color: transparent;
    padding: 32px;
    border-radius: 8px;
    border: 1px solid white;
    width: 360px;
    height: 480px;
    color: white;
    cursor: pointer;
}

.card-large:hover {
    background-color: var(--cardBackground);
}

.card-small {
    background-color: var(--cardBackground);
    padding: 16px;
    border-radius: 4px;
}

.card-wrapper {
    perspective: 1000px;
    width: 360px;
    height: 480px;
    margin: auto;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}

.card-front {
    background-color: #050505;
}

.card-back {
    background-color: #050505;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-arrow {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

@media (max-width: 565px) {
    .card-large {
        width: 300px;
    }

    .card-small {
        background-color: var(--cardBackground);
        padding: 16px;
        border-radius: 4px;
    }

    .card-wrapper {
        width: 300px;
        height: 480px;
    }
}

.svg {
    width: 100%;
}

@media (max-width: 1200px) {
    .svg {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .svg {
        width: 80%;
    }
}

